
.icon-basket-alt:before { content: '\e800'; } /* '' */
.icon-home-outline:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */